<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="converterApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="converterApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="converterApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="converterApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="app/app.css">
    <link rel="stylesheet" href="app/yarn_components/tachyons/css/tachyons.css">
    <link rel="stylesheet" href="app/yarn_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="app/yarn_components/qtip2/dist/jquery.qtip.css">
    <script src="app/yarn_components/angular/angular.js"></script>
    <script src="app/yarn_components/jquery/dist/jquery.min.js"></script>
    <script src="app/yarn_components/qtip2/dist/jquery.qtip.js"></script>
    <script src="app/yarn_components/angular-resource/angular-resource.js"></script>
    <script src="app/yarn_components/angular-material/angular-material.min.js"></script>
    <script src="app/yarn_components/angular-animate/angular-animate.min.js"></script>
    <script src="app/yarn_components/angular-aria/angular-aria.min.js"></script>
    <script src="app/yarn_components/angular-messages/angular-messages.min.js"></script>
    <script src="app/yarn_components/cytoscape/dist/cytoscape.js"></script>
    <script src="app/yarn_components/cytoscape-qtip/cytoscape-qtip.js"></script>
</head>
<body>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div ng-app="converterApp" class="main-container">
    <div ng-controller="converterController" class="converter">
        <form name="converterForm">
            <div>
                <md-input-container>
                    <input type="text"
                           name="amount"
                           placeholder="Amount from"
                           ng-model="data.amount"
                           ng-change="handleConvert()"
                           required>
                    <div ng-messages="converterForm.amount.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container>
                    <label>FROM:</label>
                    <md-select ng-model="data.from"
                               name="from"
                               ng-change="handleConvert()"
                               placeholder="Currency from"
                               required>
                        <!--<md-option ng-value="key" ng-repeat="(key, value) in symbols" value="{{key}}">{{key}}: {{value}}-->
                        <md-option ng-value="currency.iso" ng-repeat="currency in symbols">{{currency.iso}}: {{currency.currency_name}}
                        </md-option>
                    </md-select>
                    <div ng-messages="converterForm.from.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>TO:</label>
                    <md-select ng-model="data.to"
                               ng-change="handleConvert()"
                               name="to"
                               placeholder="Currency to"
                               required>
                        <!--<md-option ng-value="key" ng-repeat="(key, value) in symbols" value="{{key}}">{{key}}: {{value}}</md-option>-->
                        <md-option ng-value="currency.iso" ng-repeat="currency in symbols">{{currency.iso}}: {{currency.currency_name}}
                    </md-select>
                    <div ng-messages="converterForm.to.$error">
                        <div ng-message="required">This is required!</div>
                    </div>
                </md-input-container>
            </div>
            <!--<md-button class="md-primary md-raised" ng-click="handleConvert()">Convert</md-button>-->
            <span ng-if="result" class="result">
                <h3>{{result.amount}} {{result.from}} equals</h3>
                <h1>{{result.to[0].mid}} {{result.to[0].quotecurrency}}</h1>
                <p>At {{result.timestamp | date:'mediumTime'}} on {{result.timestamp | date:'fullDate'}}</p>
            </span>
        </form>
    </div>
    <div ng-controller="graphController" class="graph">
        {{name}}
        <div id="cy" ng-init="handleConvert()"></div>
    </div>
</div>
<script src="app/env.js"></script>
<script src="app/app.js"></script>
</body>
</html>
